#leftBar{
    background-color: #b448ff;
    height: 100%;
    width: 20%;
    padding-top: 150px;
    position: fixed;
}

#mainSection{
    width: 80%;
    height: 100vh;
    margin-top: 80px;
    margin-left: 20%;
}